.hide{
    display: none;
}

@media (max-width: 299px){
    body{
        background-color: red;
    }
    #small{
        display: block;
        font-size: 10px;

    }
}

@media (min-width: 300px) and (max-width: 767px){
    body{
        background-color: green;
    }
    #medium{
        display: block;
        font-size: 12px;
    }
}

@media (min-width: 768px){
    body{
        background-color: blue;
    }
    #large{
        display: block;
        font-size: 14px;
    }
}