.hide{
    display: none;
}

@media (max-width: 499px){
    body{
        background-color: red;
    }
    #small{
        display: block;
    }
    #small h1{
        font-size: 15px;
    }
    #small p{
        font-size: 10px;
    }
    #medium{
        display: block;
    }
    #medium h1{
        font-size: 25px;
    }
    #medium p{
        font-size: 20px;
    }
    #large{
        display: block;
    }
    #large h1{
        font-size: 35px;
    }
    #large p{
        font-size: 30px;
    }
}

@media (min-width: 500px) and (max-width: 999px){
    body{
        background-color: green;
    }
    #small{
        display: block;
        width: 66.66%;
    }
    #small h1{
        font-size: 15px;
    }
    #small p{
        font-size: 10px;
    }
    #medium{
        display: block;
        width: 33.33%;
    }
    #medium h1{
        font-size: 25px;
    }
    #medium p{
        font-size: 20px;
    }
    #large{
        display: block;
        width: 100%;
    }
    #large h1{
        font-size: 35px;
    }
    #large p{
        font-size: 30px;
    }
}

@media (min-width: 1000px){
    body{
        background-color: blue;
    }
    #small{
        display: block;
        width: 33.33%;
    }
    #small h1{
        font-size: 15px;
    }
    #small p{
        font-size: 10px;
    }
    #medium{
        display: block;
        width: 33.33%;
    }
    #medium h1{
        font-size: 25px;
    }
    #medium p{
        font-size: 20px;
    }
    #large{
        display: block;
        width: 33.33%;
    }
    #large h1{
        font-size: 35px;
    }
    #large p{
        font-size: 30px;
    }
    #container{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }
}